* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg, #195eb1 0%, #00a2ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

img {
    display: inline-block;
}